ul {

	list-style: none;
	display: inline;
}
li{
	display: inline;
	margin-left: 20px;
	border: 1px black solid;
	border-bottom: none;
	padding:5px 7px;
	padding-bottom: 1px;
	background-color: #98AFC7;

}

#content{
	background-color: #98AFC7;
	padding: 3 7;
	border: 1px black solid;

}